<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<link rel="shortcut icon" href="/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Privacy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Privacy</h1>
</body>
</html>